.#*
commands.h
config.h
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
VERSION
KBtin
KBtin_help.gz
kbtin
kbtin-*.tar.xz
load_commands.h
Makefile
manual.html
*.o
*.orig
*~
protos
protos.h
tests/get-utf8
tests/ttyrec2ansi
tests/kbitr
valgrind.*
*.gcov
