.#*
*~
*.gcov
*.o
*.orig
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
KBtin
KBtin_help.gz
Makefile
Testing/
VERSION
cmake_install.cmake
commands.h
config.h
kbtin
kbtin-*.tar.xz
load_commands.h
manual.html
protos
protos.h
tests/get-utf8
tests/kbitr
tests/ttyrec2ansi
valgrind.*

##################################################
# put packaging ignores below to avoid conflicts #
##################################################
