.#*
commands.h
config.h
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
VERSION
KBtin
KBtin_help.gz
kbtin
kbtin-*.tar.xz
load_commands.h
Makefile
manual.html
build-stamp
check-stamp
debian/files
debian/*.debhelper.log
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/*.substvars
debian/kbtin/
debian/colorized-logs/
debian/.debhelper/
debian/debhelper-build-stamp

.pc/
debian/patches/
*.o
*.orig
*~
protos
protos.h
tests/get-utf8
tests/ttyrec2ansi
valgrind.*
depcomp
install-sh
debian/autoreconf.*