Source: kbtin
Section: games
Priority: optional
Maintainer: Adam Borowski <kilobyte@angband.pl>
Build-Depends: debhelper (>> 4.0.0), locales, libz-dev, libglib2.0-dev (>= 2.10), gettext, autotools-dev
Standards-Version: 3.7.3

Package: kbtin
Architecture: any
Depends: ${shlibs:Depends}
Description: A tintin++ style text-based MUD client
 KBtin is a fullscreen console MUD client based on the once-popular tintin++.
 It is not limited for mudding, and can be used for running line-based local
 programs like adventure, mysqlclient, dpkg-buildpackage or piuparts.
